@media only screen and (min-width: 768px) {

  .Container {
    flex: 1;
    width: 100%;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;


    .containerFix{
      height: 1000px;
    }

    .slogan {
      position: absolute;
      margin-top: -15rem;
      margin-left: -45rem;
    }

    .sloganMobile {
      display: none;
    }

    .candidateName {
      position: absolute;
      margin-top: 17rem;

      width: 831px;
      height: 333px;
    }

    .candidateNumber {
      position: absolute;
      margin-bottom: -48rem;

      width: 791px;
      height: 128px;
    }

    .psdbLogo {
      display: none;
    }

    .candidatePhoto {
      position: absolute;

      width: 771px;
      height: 730px;
    }

    .retangleEffectFirstSection{
      position: absolute;
      width: 100%;
      height: 500px;

      margin-bottom: -16rem;
      background: rgb(9,24,97);
      background: linear-gradient(0deg, rgba(9,24,97,1) 35%, rgba(0,212,255,0) 100%);
    }

  }
}

@media only screen and (max-width: 768px) {
  .abstractFirstSection {
    position: absolute;
    margin-top: -15rem;
    width: 1080px;
    overflow: hidden;

    display: none;
  }

  .Container {
    flex: 1;
    width: 100%;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;


    .containerFix{
      height: 1900px;
    }

    .slogan {
     margin-top: 100rem;
    }


    .candidateName {
      position: absolute;
      margin-top: -100rem;

      width: 880px;
      height: 331px;
    }

    .candidateNumber {
      position: absolute;
      margin-bottom: -69rem;

      width: 961px;
      height: 324px;
    }

    .psdbLogo {
      position: absolute;
      margin-bottom: -140rem;
      margin-left: -2rem;

      width: 319px;
      height: 100px;
    }

    .candidatePhoto {
      position: absolute;
      margin-top: -2rem;

      width: 1100px;
      height: 1100px;
    }

    .retangleEffectFirstSection{
      position: absolute;
      width: 100%;
      margin-top: 20rem;
      height: 60rem;

      margin-bottom: -10rem;
      background: rgb(9,24,97);
      background: linear-gradient(0deg, rgba(9,24,97,1) 35%, rgba(0,212,255,0) 100%);
    }

  }
}